---
##
# Common settings.
##

# TODO: See https://github.com/geerlingguy/pi-webcam/issues/4

##
# Less common settings.
##

# The repository from which uvc-gadget will be cloned. Note that if a different
# fork of uvc-gadget is used, some of the configuration may need to be disabled.
uvc_gadget_repo: https://github.com/geerlingguy/uvc-gadget.git

# Whether to enable piwebcam at boot or not.
piwebcam_boot_enabled: true

# Changes to be made to the config.txt file.
config_txt_changes:
  # Enable USB OTG mode.
  - option: dtoverlay
    value: dwc2
  # Enable the camera.
  - option: start_x
    value: '1'
  # Ensure GPU has enough memory for camera.
  - option: gpu_mem
    value: '128'
