[Unit]
Description=Start pi webcam service

[Service]
ExecStart=/home/pi/uvc-gadget/piwebcam
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piwebcam
User=pi
Group=pi
WorkingDirectory=/home/pi/

[Install]
WantedBy=basic.target
